# mercury files
mercury/Mercury
mercury/*.err
mercury/*.mh

# backup files
mercury/*~
*~

# files created by autoconf and generated configure script and during compilation and instalation
autom4te.cache/*
configure
Makefile
config.log
config.status
mercury/ui_swing.jar
manifest.mf
